@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');

:root {
	--color-mine-shaft: #323232;
	--color-aqua-haze: #EDF5F5;
	
	--font-light: 300;
	--font-regular: 600;
	--font-bold: 900;

	--font-size: 2rem;
	--font-size-1: calc( var(--font-size) * var(--font-size-ratio) );
	--font-size-2: calc( var(--font-size) * var(--font-size-ratio) * var(--font-size-ratio) );
	--font-size-3: calc( var(--font-size) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) );
	
	--line-height: 1.5;
	--line-height-1: calc( var(--line-height) * var(--line-height-ratio) );
	--line-height-2: calc( var(--line-height) * var(--line-height-ratio) * var(--line-height-ratio) );
	--line-height-3: calc( var(--line-height) * var(--line-height-ratio) * var(--line-height-ratio) * var(--line-height-ratio) );
	
	--font-family-text: 'Manrope', sans-serif;
	--font-family-headings: 'Manrope', sans-serif;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	overscroll-behavior: none;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	font: 300 62.5%/1 sans-serif;
}
body {
	font: var(--font-light) var(--font-size)/var(--line-height) var(--font-text-headings, sans-serif);
}
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
}
textarea {
	white-space: revert;
}

h1 {  font: var(--font-bold) var(--font-size-3)/var(--line-height-3) var(--font-family-headings, sans-serif); margin: var(--font-size-3) 0; }
h2 { font: var(--font-light) var(--font-size-3)/var(--line-height-3) var(--font-family-headings, sans-serif); margin: var(--font-size-3) 0; }
h3 {  font: var(--font-bold) var(--font-size-2)/var(--line-height-2) var(--font-family-headings, sans-serif); margin: var(--font-size-2) 0; }
h4 { font: var(--font-light) var(--font-size-2)/var(--line-height-2) var(--font-family-headings, sans-serif); margin: var(--font-size-2) 0; }
h5 {  font: var(--font-bold) var(--font-size-1)/var(--line-height-1) var(--font-family-headings, sans-serif); margin: var(--font-size-1) 0; }
h6 { font: var(--font-light) var(--font-size-1)/var(--line-height-1) var(--font-family-headings, sans-serif); margin: var(--font-size-1) 0; }

@media (min-width: 0px)    { :root { --font-size-ratio: 1.2; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/60) } }
@media (min-width: 320px)  { :root { --font-size-ratio: 1.3; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/48) } }
@media (min-width: 640px)  { :root { --font-size-ratio: 1.4; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/48) } }
@media (min-width: 960px)  { :root { --font-size-ratio: 1.5; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/36) } }
@media (min-width: 1280px) { :root { --font-size-ratio: 1.6; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/36) } }
@media (min-width: 1600px) { :root { --font-size-ratio: 1.7; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/36) } }
@media (min-width: 1920px) { :root { --font-size-ratio: 1.8; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/36) } }
@media (min-width: 2240px) { :root { --font-size-ratio: 1.9; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }
@media (min-width: 2560px) { :root { --font-size-ratio: 2.0; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }
@media (min-width: 2880px) { :root { --font-size-ratio: 2.1; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }
@media (min-width: 3200px) { :root { --font-size-ratio: 2.2; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }
@media (min-width: 3520px) { :root { --font-size-ratio: 2.3; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }
@media (min-width: 3840px) { :root { --font-size-ratio: 2.4; --line-height-ratio: 0.85; } .rim { padding: calc(100vw/24) } }